{% extends 'base.html' %}
{% block title %}About Our Company{% endblock title %}
{% block body %}
<style>

.container{
   margin:50px ;
   width: 50%;
   padding: 2px;

}
img{
   padding:0 10px 0 0;
  }
  .text{
  text-align:justify;
  text-padding:0 10px 0 0;
  }
  .text1{
  text-align:justify;
  text-padding:0 10px 0 0;
  text-margin:30px;
  }


  }

</style>
<br>

<h2 style="text-align:center";><I>About Our Company</I></h2>
<br>
<div class="container">
<img src="static/images/imag3.jpg" class="rounded-end" height="300px" width="500px" style="float: left" alt="..."></div>
<div class="text">

</div><h3 style="text-align:center"> More than 10 years of cleaning experience</h3>
<p STYLE="font-size:18px" >Reliable Cleaning service is fully integrated janitorial cleaning services
    company that provides comprehensive ,high quality,reliable cleaning solutions
    to commercial, corporate   ,industrial and residential clients.</p>
<p STYLE="font-size:18px"> Our diligent management and work ethic are central to Reliable Cleaning
    aagencservices buisness philosophy and critical to delievering consitent,quality cleaning
    services.We price ourselves on making our management accountable to the client
          through direct access and interaction with our managing director   </p>

   </div>
<br>
<br>
<div class="container-fluid " >
<div class="row">
<div class="col-md-5">
    <div class="thumbnail">
    <div class="text" >
    <h3 style="bold text-align :"> Our Mission</h3>
    </div>
    <img src="static/images/vis.jpg" class="rounded-end" height="100px" width="100px" style="float: left" alt="...">
        <p STYLE="font-size:18px tex-align:justify" >Aims to be the national market leader in the provision of
            cleaning services,delievering reliable,quality,cost-effective cleaning solutions
            to our cutomers</p>
        </div>
</div>
<div class="col-md-5">
    <div class="thumbnail">
    <div class="text" >
    <h3 style="bold text-align :"> Our Vision</h3>

        </div>
    <img src="static/images/vis1.jpg" class="rounded-end" height="100px" width="100px" style="float:left" >
        <p STYLE="font-size:18px tex-align:justify" > To be ultimate cleaning service provider
            in India and beyond.All committed tothe same common values and principles </p>
</div>
    </div>
    </div>
    </div>
<br>
<h2 style="text-align:center";>Our Values</h2>
<p style="text-align:center">----------------------------------------------------------------------------------</p>
<p style="text-align:center">Our goal is your satisfaction(off course after our cleaning work.Office phone works around the clock(24/7)</p>
<div class="container">
<img src="static/images/clean1.jpg" class="rounded-end" height="350px" width="500px" style="float: left" alt="..."></div>
<div class="text">
    <p>&#9989 <b>Client oriented:</b> We serve our client as were servind ourselves.
        We value their feedback and we use it to improve our work</p>
    <p>&#9989 <b>Eco Friendly Oriented:</b> We carefully choose the best and the most
        natural cleaning products that gives amazing results</p>
    <p>&#9989 <b>Excellence and Innovation:</b> We provide training to our personal
        in order to ensure the high standard of service.We stay up-to-date on the latest
        innovations in eco-friendly products and technologies</p>
    <p>&#9989<b>Expansion/Growth:</b>We make ourselves known in the community,we create
        long term relations,while constantly expanding.Therefore we are always bringing
        in the more people to work for us.</p>
    <br><br>
    <p style="text-align:center">----------------------------------------------------------------------------------</p>
</div>
<div class="p-3 mb-2 bg-info text-dark">
<h3 style="text-align:center;">Satisfaction Guaranted
<span class="border-bottom"></span></h3>
<br><br>
<p style="text-align:center"> Your satisfaction is 100% guaranted at reliable cleaning services
        If you are not happy with any area we cleaned,simply call with 24 hours  and we will come back
        out and reclean it for free of charge.This makes hiring reliable cleaning services virtually
        risk free,Our maids are thoroughly screened through our rigorious recruitment process,
        and everyone works through our rigorious cleaning process.
        </p>
</div>
<h1 style="text-align:center">Why Hire Us?</h1>
<br>
<p style="text-align:center">*****************************************************************************************
<br><br>
    Choose Reliable Cleaning Agency because of our reputation for excellence.For more than 10 years,we have earned a name for quality and customer service.
    The homeowners we serve rely on us for detail-oriented,consistent cleaningservices ,every single time we clean their home.
    </p>
<br><br>
<div class="container-fluid" align="center" >
<div class="row" align="center">
  <div class="col-md-4" style="padding: 0">
    <div class="thumbnail">
        <img src="static/images/thumbs.jpg" style="width:30%">
        <div class="caption">
          <b>With us,Your satisfaction is</b>
             <b>Guaranteed</b>
            <p>The experts at Reliable Cleaning Agency are committed
                to providing thorough cleaning services for our valued
                customers nation wide.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="static/images/con.jpg"  style="width:30%">
        <div class="caption">
         <b>Our Bonded and Insured</b>
            <b>Cleaning Team</b>
            <p>Reliable cleaning service is fully bonded and
            insured,which means you can have a piece of mind
            when you hire us at your residential</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="static/images/team.jpg" style="width:30%">
        <div class="caption">
          <b>Our Team consists of </b>
            <b>fully Trained Employees</b>
            <p>It means every individual hired at Reliable Cleaning
                services goes through a thorough screening process
                and then is trained in every aspect of our home cleaning
                services.</p>
        </div>
      </a>
    </div>
  </div>
    <div class="col-md-4">
    <div class="thumbnail">
        <img src="static/images/home.jpg"  style="width:30%">
        <div class="caption">
            <b>Locally Owned </b>
            <b>Home Cleaning Services</b>
            <p>Life is just short to clean your own home
            .You should be able to enjoy peace of mind knowing
            that your home is in good hands,while focusing on
            things that matter more to you, such as your
            family and loved ones.</p>
        </div>
    </div>
  </div>
    <div class="col-md-4">
    <div class="thumbnail">
        <img src="static/images/phone.jpg" style="width:30%" >
        <div class="caption">
        <b>Free Over the</b>
            <b>Phone estimates</b>
            <p>Reliable Cleaning services is a key to keeping a
                beautiful home while making more time to yourself
                and the things you love most.
                Contact us for free.</p>
        </div
      </a>
    </div>
  </div>
     <div class="col-md-4">
    <div class="thumbnail">
        <img src="static/images/guran.jpg" style="width:30%">
        <div class="caption">
          <b>We guarantee our</b>
            <b>Work</b>
            <p>Reliable cleaning agency strives to provide the highest
            level of quality,service and value to each and every
            customer.If you are not completely satidfied with our
            services,please inform us within us within 24 hours
            of your clean so we may resolve the situation./p>
        </div>
    </div>
  </div>
</div>
</div>

<br><br><br>
<div class="container-fluid" align="center" >
<div class="row" align="center">
  <div class="col-md-4">
        <p>Call us On:
        +21564784948</p>
    </div>
  </div>
  <div class="col-md-4" >
        <img src="static/images/clock.jpg" style="width:30%">
        <p>Mon-Sat
        8.00 am to 7.00 pm</p>
    </div>
  </div>
</div>
</div>

</div>
</div>


{% endblock body %}