{% extends 'base.html' %}
{% block title %} apart{% endblock title %}
{% block body %}
<style>

.container{
   margin:50px ;
   width: 50%;
   padding: 2px;

}
img{
   padding:0 10px 0 0;
  }
  .text{
  text-align:justify;
  text-padding:0 10px 0 0;
  }
  .text1{
  text-align:justify;
  text-padding:0 10px 0 0;
  text-margin:30px;
  }


  }

</style>
<br>

<h1 style="text-align:center";><b>Apartment Cleaning</b></h2>
<br>
<div class="container">
<img src="static/images/apart1.jpg" class="rounded-end" height="270px" width="500px" style="float: left" alt="..."></div>
<div class="text">

</div><h3 style="text-align:center"> </h3>
<p STYLE="font-size:18px" >If you are looking for home cleaning,apartment cleaning,or a maid service,
        we are simply the best,most convenient home cleaning service way to book cleaning.
        We know you want a well-priced cleaning while still having the confidence that your
        cleaning will be thorough and professional.</p>
<p STYLE="font-size:18px"> And handy helps schedule your recurring cleanings automatically for
        you,so you can focus on the other things in your life.</p>

   </div>
<br><br>
<style>
    jumbotron {
  height:100%;
  width:100%;
}
.container {
  width:1025px;
}
.jumbotron .container {
  max-width: 100%;
}
</style>
<div class="container">
  <div class="jumbotron">
      <h3 style="text-align:center"><I>What's included in the apartment cleaning?</I></h1>
        <br>
   <h5 class="text-center"><p style="color:blue;font-family:arial;">Here's what you can generally expect from a house cleaning booked through handy.
      Download the app to share the specific cleaning details and instructions with your pro!</p></h5>
  </div>
</div>
<div class="container-fluid" >
<div class="row">
<div class="col-md-6">
    <div class="thumbnail">
    <p>&#10003<b style="color:green">Bedroom,living rooms and common areas:</b> Dusts all accessible surface
        wipe down all mirrors and glass fixtures,Take our garbage and recycling</p>
    <p>&#10003<b style="color:green">Bathroom cleaning:</b>Washes and sanitizes,tolet,shower,
    tub and sink,dusts all accessible surfaces,wipe down all mirrors and glass fixtures
    Clean all floor surfaces,Take out garbage and recycling</p>
    <p>&#10003 <b style="color:green">Kitchen Cleaning:</b> Dust all accessible surfaces
        empty sink and load up dishwasher with dirt dishes,wipe down exterior of stove,
        oven and fridge,clean all floor surfaces,take out garbage and recycling
        </p>
  </div>
    </div>
<div class="col-md-6" align="center">
    <div class="thumbnail">
    <h2 style="color:Blue">Services offered</h2>
   <ul>
       <p style="color:Brown">Apartment cleaning</p>
       <p style="color:Brown">Window Cleaning</p>
       <p style="color:Brown">Residential Cleaning</p>
       <p style="color:Brown">Commercial Cleaning</p>
       <p style="color:Brown">After Renovation Cleaning</p>
   </ul>
</div>
</div>
</div>
</div>
{% endblock body %}