{% extends 'base.html' %}
{% block title %}commer{% endblock title %}
{% block body %}
<style>

.container{
   margin:50px ;
   width: 50%;
   padding: 2px;

}
img{
   padding:0 10px 0 0;
  }
  .text{
  text-align:justify;
  text-padding:0 10px 0 0;
  }
  .text1{
  text-align:justify;
  text-padding:0 10px 0 0;
  text-margin:30px;
  }


  }

</style>
<br>

<h1 style="text-align:center";><b>Commercial Cleaning</b></h1>
<br>
<div class="container">
<img src="static/images/commer1.jpg" class="rounded-end" height="270px" width="500px" style="float: left" alt="..."></div>
<div class="text">

</div><h3 style="text-align:center"> </h3>
<p STYLE="font-size:18px" >Cutomized Solutions for Commercial and facility managers.Service based on
        best-practice management standards for service planning,delievery,evalution and response
        </p>
<p STYLE="font-size:18px" >Monitored via our proprietary service management system that provides the
            information needed to verify and assess service delievery.We develop and manage
            performance based commercial office cleaning solutions that align with our
            buisness objectives</p>

   </div>
<br><br>
<style>
    jumbotron {
  height:100%;
  width:100%;
}
.container {
  width:1025px;
}
.jumbotron .container {
  max-width: 100%;
}
</style>
<div class="container">
  <div class="jumbotron">
    <h3 style="text-align:center"><I>What's included in the Commercial Cleaning?</I></h1>
        <BR>
   <h5 class="text-center">
       <ul style="center">
           <p style="color:blue;font-family:arial;">Multi-Tenant Office Buildings</p>
           <p style="color:blue;font-family:arial;">Single-Tenant Buildings</p>
           <p style="color:blue;font-family:arial;">Owner Occupied Buildings</p>
       </ul>
   </h5>
  </div>
</div>
<div class="container-fluid" >
<div class="row">
<div class="col-md-6">
    <div class="thumbnail">
    <p>&#10003<b style="color:green">Carpet Cleaning:</b> This type of commercial cleaner comes in to deep-clean carpets. They will extract
        moisture from carpeting by using hot water extraction, shampooing, and drying</p>
    <p>&#10003<b style="color:green">Concrete Sealing:</b>This type of cleaning is often used for parking lots or other concrete
        surfaces that need to be sealed against water damage as well as graffiti.</p>
    <p>&#10003<b style="color:green">Paint Stripping:</b> If your home needs old paint removed from the walls this may not be a service you want
        done in-house but if it’s for a commercial property you have the resources to do it
        yourself.</p>
        <p>&#10003<b style="color:green">Floor Stripping:</b> Floors are another surface that may
            require the services of a professional. Floor stripping is often necessary due to
            wear and tear or when there’s damage from water, smoke, fire, mold or other substances.</p>
        <p>&#10003<b style="color:green">Waxing:</b>It’s not just floors that need to be waxed. Commercial buildings may also
            require the hard-to-reach areas of walls and ceilings be done as well.</p>

  </div>
    </div>
<div class="col-md-6" align="center">
    <div class="thumbnail">
    <h2 style="color:Blue">Services offered</h2>
   <ul>
       <p style="color:Brown">Apartment cleaning</p>
       <p style="color:Brown">Window Cleaning</p>
       <p style="color:Brown">Residential Cleaning</p>
       <p style="color:Brown">Commercial Cleaning</p>
       <p style="color:Brown">After Renovation Cleaning</p>
   </ul>
</div>
</div>
</div>
</div>

{% endblock body %}
