{% extends 'base.html' %}
{% block title %}Our Prices{% endblock title %}
{% block body %}
<br><br>
<h2 style="text-align:center";>Our Prices</h2>
<br><br>
<p align="center">---------------------------------------------------------------------------</p>
<p align="center">Out standing cleaning services with flat rate pricing.No hidden fees.No surprises</p>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<div class="container">

<table>
  <tr>
    <th><h4><center><b>Studio</b></center></h4></th>
    <th><h4><center><b>One bedroom</b></center></h4></th>
    <th><h4><center><b>Two bedroom</b></center></h4></th>
      <th><h4><center><b>Three bedroom</b></center></h4></th>
  </tr>
  <tr>
    <td><h4><center>11900<SUB>flat rate</SUB></center></h4></td>
    <td><h4><center>12900<SUB>flat rate</SUB></center></h4></td>
    <td><h4><center>13900<SUB>flat rate</SUB></center></h4></td>
     <td><h4><center>14900<SUB>flat rate</SUB></center></h4></td>
  </tr>
  <tr>
    <td ><center>Apartment</center></td>
      <td><center>Apartment</center></td>
        <td><center>Apartment</center></td>
        <td><center>Houses & Apartment</center></td>
  </tr>
  <tr>
    <td><center>Estimated Time 2 hrs</center></td>
    <td><center>Estimated Time 2.30 hrs</center></td>
    <td><center>Estimated Time 3 hrs</center></td>
      <td><center>Estimated Time 3.30 hrs</center></td>
  </tr>
  <tr>
    <td><center><button type="button" class="btn btn-success">Book Now</button></center></td>
    <td><center><button type="button" class="btn btn-success">Book Now</button></center></td>
    <td><center><button type="button" class="btn btn-success">Book Now</button></center></td>
      <td><center><button type="button" class="btn btn-success">Book Now</button></center></td>
  </tr>
</table>
</div>
<br>
<br>
<h2 style="text-align:center" color="orange">Discounts for Recurring Client</h2>
<br>
<br>
<p align="center">---------------------------------------------------------------------------------------------</p>
<br><br>
<p align="center">Looking to setup regular cleaning?We offer huge huge savings to loyal customers(applies to secong cleaning onwards)</p>
</div>
<style type="text/css">
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    .flex-container
    {
    width:100%;
    height:auto;
    justify-content:space-evenly;
    display: flex;
    }

    .flex-box{
    background: pink;
    text-align:center;
    width: 200px;
    height:100px;
    margin:10px;
    padding:10px;
    border-radius:20px
    }
    .flex-box2{
    background: blue;
    text-align:center;
    width: 200px;
    height:100px;
    margin:10px;
    padding:10px;
    border-radius:20px
    }
    .flex-box3{
    background: yellow;
    text-align:center;
    width: 200px;
    height:100px;
    margin:10px;
    padding:10px;
    border-radius:20px
    }
   .box{
   width:75%;
   height:100px;
   background:pink;
   margin:20px auto;
   border-radius:20px;
   box-shadow:5px 5px;
   padding:20px;


   }


</style>
<div class="flex-container">
  <div class="flex-box">
   <h4>30% OFF</h4>
    <h5>Weekly Clients</h5>
  </div>
  <div class="flex-box2">
   <h4>20% OFF</h4>
    <h5>Bi-weekly Clients</h5>
  </div>
  <div class="flex-box3">
    <h4>15% OFF</h4>
    <h5>Monthly Clients</h5>
  </div>
</div>
<br>
<br>
<div class="box">
<h4><center>Schedule a free cleaning Estimate Today</center></h4>
  <h4><center>+254 791 391 066</center> </h4>

</div>
<br><br>

<p style="font-size:160%;color:Blue;text-align:center;"><b>Additional Services</b></p>
<br>
<p align="center">*************************************************************************************************</p>
<div class="container-fluid" >
<div class="row">
<div class="col-md-3">
    <div class="thumbnail">
      <p style="font-size:120%">&#10004<I style="color:green">T/V Accessories</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Shelves</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Picture Frames</I></p>
      < sptyle="font-size:120%">&#10004<I style="color:green">Tables</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Chairs</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">lamps Lighting</I></p>
    </div>
</div>
  <div class="col-md-3">
    <div class="thumbnail">
      <p style="font-size:120%">&#10004<I style="color:green">Turn Off Lights</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Vents</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Fans</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Shower Caddys</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Trash Cans</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Shower Doors</I></p>
    </div>
</div>
  <div class="col-md-3">
    <div class="thumbnail">
      <p style="font-size:120%">&#10004<I style="color:green">Stove Tops</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Toilets Behind</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Bathtubs/Showers</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Return Mats</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Behind Wall Units</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Microwave</I></p>
    </div>
</div>
  <div class="col-md-3">
    <div class="thumbnail">
      <p style="font-size:120%">&#10004<I style="color:green">Dishwasher</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Make Beds</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Vaccum Carpets</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Straighten Up</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Trashcan Liners</I></p>
      <p style="font-size:120%">&#10004<I style="color:green">Swiffer</I></p>
    </div>
</div>


</div>
</div>





{% endblock body %}