{% extends 'base.html' %}
{% block title %} renov{% endblock title %}
{% block body %}
<style>

.container{
   margin:50px ;
   width: 50%;
   padding: 2px;

}
img{
   padding:0 10px 0 0;
  }
  .text{
  text-align:justify;
  text-padding:0 10px 0 0;
  }
  .text1{
  text-align:justify;
  text-padding:0 10px 0 0;
  text-margin:30px;
  }


  }

</style>
<br>

<h1 style="text-align:center";><b>Post Renovation Cleaning</b></h1>
<br>
<div class="container">
<img src="static/images/renoov.jpg" class="rounded-end" height="270px" width="500px" style="float: left" alt="..."></div>
<div class="text">

</div><h3 style="text-align:center"> </h3>
<p STYLE="font-size:18px" >After your renovation, you want to move in to a fresh, clean home.
    So, it’s preferable to have a post renovation clean-up immediately after the renovation and
    before your furniture or new appliances arrive.  Bulky items can hinder the effectiveness of
    a good scrub down.  Take special consideration that since this is not an ordinary cleaning task,
    an entire day should be dedicated to get your home ready for moving in.
        </p>
<p STYLE="font-size:18px" >Give A1 Cleaning Services a call to arrange for an appropriate date and time.
    Our team of professionals guarantee to meticulously clean and let you enjoy your dream home..</p>

   </div>
<br><br>
<style>
    jumbotron {
  height:100%;
  width:100%;
}
.container {
  width:1025px;
}
.jumbotron .container {
  max-width: 100%;
}
</style>
<div class="container">
  <div class="jumbotron">
    <h3 style="text-align:center"><I>What's included in the Post Renovation Cleaning?</I></h1>
   <br>
        <h5 class="text-center">
       <p style="color:blue;font-family:arial;">Post renovation cleaning will do away with the mess created by renovation work
           It includes living room,kitchen,bedroomand toilet. </p>
   </h5>
  </div>
</div>
<div class="container-fluid" >
<div class="row">
<div class="col-md-6">
    <div class="thumbnail">
    <p>&#10003<b style="color:green">Living Room:</b>Clean walls and ceilings,window sills,
        windows in and out,wipe curtains and blinds</p>
    <p>&#10003<b style="color:green">Rooms:</b>Dusting and wiping all the wardropes and the
                    mirrors from both the sides and door rails</p>
    <p>&#10003<b style="color:green">Bathrooms:</b> Wipe all the tiles,walls,mirrors,dust everywhere
                and remove paint drops from the floors and walls</p>
        <p>&#10003<b style="color:green">Floor: </b>  Sweeping and vacuuming all floors several times, then mopping them with the right green cleaning
            products according to their nature until they are dust free</p>
        <p>&#10003<b style="color:green">Kitchen:</b>Outside and inside cupboards, benchtops,
            inside & behind drawers and cabinets, outside and behind the fridge, inside the
            dishwasher, under the sink, inside & outside the oven and microwave.</p>

  </div>
    </div>
<div class="col-md-6" align="center">
    <div class="thumbnail">
    <h2 style="color:Blue">Services offered</h2>
   <ul>
       <p style="color:Brown">Apartment cleaning</p>
       <p style="color:Brown">Window Cleaning</p>
       <p style="color:Brown">Residential Cleaning</p>
       <p style="color:Brown">Commercial Cleaning</p>
       <p style="color:Brown">After Renovation Cleaning</p>
   </ul>
</div>
</div>
</div>
</div>

{% endblock body %}


