{% extends 'base.html' %}
{% block title %} resid{% endblock title %}
{% block body %}
<style>

.container{
   margin:50px ;
   width: 50%;
   padding: 2px;

}
img{
   padding:0 10px 0 0;
  }
  .text{
  text-align:justify;
  text-padding:0 10px 0 0;
  }
  .text1{
  text-align:justify;
  text-padding:0 10px 0 0;
  text-margin:30px;
  }


  }

</style>
<br>

<h1 style="text-align:center";><b>Residential Cleaning</b></h1>
<br>
<div class="container">
<img src="static/images/residen.jpg" class="rounded-end" height="270px" width="500px" style="float: left" alt="..."></div>
<div class="text">

</div><h3 style="text-align:center"> </h3>
<p STYLE="font-size:18px" >Most residential cleaning companies and maid services offer a range of options,
    from a deep-down one-time cleaning to regularly scheduled cleaning services. Depending
    on how much you enjoy (or hate!) cleaning house, how big your home is, how messy things are,
    you’ll find plenty of solutions for your cleaning needs.
        </p>
<p STYLE="font-size:18px" >At The Maids, we provide a full line of housekeeping services founded on our unique
    approach to residential house cleaning. Our professionally trained teams follow a proven game
    plan for quick, efficient visits that focus on healthy cleaning. From one-room studios to
    large estates, our residential cleaning services cover all the bases.</p>

   </div>
<br><br>
<style>
    jumbotron {
  height:100%;
  width:100%;
}
.container {
  width:1025px;
}
.jumbotron .container {
  max-width: 100%;
}
</style>
<div class="container">
  <div class="jumbotron">
    <h3 style="text-align:center"><I>What's included in the Residential Cleaning?</I></h1>
        <BR>
   <h5 class="text-center">
       <p style="color:blue;font-family:arial;">Each of our residential house cleaning services is founded on a 22-Step Cleaning Process.
           We scrub, sweep, mop, shine, dust, and disinfect your entire home,
           including kitchens, bathrooms, bedrooms, and living rooms. </p>
   </h5>
  </div>
</div>
<div class="container-fluid" >
<div class="row">
<div class="col-md-6">
    <div class="thumbnail">
    <p>&#10003<b style="color:green">Recurring Cleaning:</b>Whether you choose weekly, bi-weekly, or
        monthly cleanings, The Maids features flexible services to fit your schedule.</p>
    <p>&#10003<b style="color:green">One Time Cleaning:</b>Whether your housekeeping has fallen behind or you need a deep cleaning to freshen things up,
        after just one visit, your home will be cleaner and healthier.</p>
    <p>&#10003<b style="color:green">Special Cleaning Services:</b> From small cleaning jobs to big
        cleanup projects, we have you covered from oven cleaning to window washing yourself.</p>
        <p>&#10003<b style="color:green">Spring and Fall Cleaning: </b>  Why waste another precious weekend with those seasonal cleaning marathons?
            Let The Maids get your home back in shape any season of the year.</p>
        <p>&#10003<b style="color:green">Moving Cleaning Services:</b>Moving is tough enough without having to tackle the final cleanup.
            We'll scrub and mop while you pack and load for a less-stressful move.</p>

  </div>
    </div>
<div class="col-md-6" align="center">
    <div class="thumbnail">
    <h2 style="color:Blue">Services offered</h2>
   <ul>
       <p style="color:Brown">Apartment cleaning</p>
       <p style="color:Brown">Window Cleaning</p>
       <p style="color:Brown">Residential Cleaning</p>
       <p style="color:Brown">Commercial Cleaning</p>
       <p style="color:Brown">After Renovation Cleaning</p>
   </ul>
</div>
</div>
</div>
</div>

{% endblock body %}

