{% extends 'base.html' %}
{% block title %}window{% endblock title %}
{% block body %}
<style>

.container{
   margin:50px ;
   width: 50%;
   padding: 2px;

}
img{
   padding:0 10px 0 0;
  }
  .text{
  text-align:justify;
  text-padding:0 10px 0 0;
  }
  .text1{
  text-align:justify;
  text-padding:0 10px 0 0;
  text-margin:30px;
  }


  }

</style>
<br>

<h1 style="text-align:center";><b>Window Cleaning</b></h2>
<br>
<div class="container">
<img src="static/images/window.jpg" class="rounded-end" height="270px" width="500px" style="float: left" alt="..."></div>
<div class="text">

</div><h3 style="text-align:center"> </h3>
<p STYLE="font-size:18px" >Our company is recognized in the market for the exceptional collection of
    services which we provide to the customers that encompass Window Cleaning Service which
    supreme on demand in the market and they are provided by well-skilled people. These offered
    services have been provided at very economical rates in the market and they provide an
    excellent presentation to the customers and they are high on demand in the industry</p>
<p STYLE="font-size:18px" >We provide regular house cleaning service (weekly, fortnightly, monthly) or one-time cleanings,
end of lease cleaning, bond cleaning.</p>

   </div>
<br><br>
<style>
    jumbotron {
  height:100%;
  width:100%;
}
.container {
  width:1025px;
}
.jumbotron .container {
  max-width: 100%;
}
</style>
<div class="container">
  <div class="jumbotron">
    <h3 style="text-align:center"><I>What's included in the Window Cleaning?</I></h1>
        <br>
   <h5 class="text-center">
       <p style="color:blue;font-family:arial;">Here's what you can generally expect from a Window cleaning booked through handy.
      Download the app to share the specific cleaning details and instructions with your pro!</p>
  </div>
</div>
<div class="container-fluid" >
<div class="row">
<div class="col-md-6">
    <div class="thumbnail">
    <p>&#10003<b style="color:green">Dusting of window sills</b> Dusts all accessible window surfaces
        wipe down all mirrors and glass fixtures,Take our garbage and recycling</p>
    <p>&#10003<b style="color:green">Cleaning Shutters:</b>Cleans all the shutters,wash it off
        and and cleaning with proper liquid</p>
    <p>&#10003<b style="color:green">Cleaning of channels of sliding windows</b> Cleans all the channels
        of sliding windows,remove the dust and unwanted scrape that is into it
        </p>
        <p>&#10003<b style="color:green">Thorough cleaning of windows:</b> do the proper thorough cleaning
        of windows</p>

  </div>
    </div>
<div class="col-md-6" align="center">
    <div class="thumbnail">
    <h2 style="color:Blue">Services offered</h2>
   <ul>
       <p style="color:Brown">Apartment cleaning</p>
       <p style="color:Brown">Window Cleaning</p>
       <p style="color:Brown">Residential Cleaning</p>
       <p style="color:Brown">Commercial Cleaning</p>
       <p style="color:Brown">After Renovation Cleaning</p>
   </ul>
</div>
</div>
</div>
</div>
{% endblock body %}
